[Unit]
Description=Immich Storage Disk 2 (WD)
After=dev-disk-by\x2duuid-1a0b5bbc\x2d6c11\x2d47ea\x2d838c\x2db6320d940fb1.device
Requires=dev-disk-by\x2duuid-1a0b5bbc\x2d6c11\x2d47ea\x2d838c\x2db6320d940fb1.devi>

[Mount]
What=/dev/disk/by-uuid/1a0b5bbc-6c11-47ea-838c-b6320d940fb1
Where=/media/alejandropi/IMMICH_DISK2
Type=ext4
Options=defaults,nofail,x-systemd.device-timeout=10

[Install]
WantedBy=multi-user.target
